.background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../img/mateusz-buda-UQ_0STgQpLY-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 76.3%;
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  padding: 40px 0 25px 0px;
  color: #fff;
}
